{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Landing Page</title>
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin_landpage.css' %}">
 
</head>
<body>
    <div class="container">
        <h1>Welcome Admin!</h1>
        <a href="{% url 'admin_login' %}" class="btn btn-login">Login</a>
        <a href="{% url 'admin_register' %}" class="btn">Register</a>
    </div>
</body>
</html>