{% extends 'vacayvue/base.html' %}

{%block content%}

<h4 class="text-center">Προσθήκη Αιτήματος στη Βάση</h4>
            <br>
            <div class="row justify-content-center">
              <div class="col-md-6">
                {% if submitted %}
                  <div class="alert alert-success" role="alert">
                    Η Αίτηση σας καταχωρήθηκε επιτυχώς!!!
                  </div>
                {% else %}
                  <form action="" method="POST" class="form-container">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="id_Type" class="form-label">Τύπος Άδειας</label>
                      {{ form.Type }}
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="id_StartDate" class="form-label">Ημερομηνία Έναρξης</label>
                        <div class="input-group">
                          {{ form.StartDate }}
                          <button class="btn btn-outline-secondary" type="button" id="start-calendar-icon">
                            <i class="bi bi-calendar"></i>
                          </button>            
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="id_EndDate" class="form-label">Ημερομηνία Λήξης</label>
                        <div class="input-group">
                          {{ form.EndDate }}
                          <button class="btn btn-outline-secondary" type="button" id="end-calendar-icon">
                            <i class="bi bi-calendar"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                      <div class="form-group">
                        <label for="id_Comments" class="form-label">Περιγραφή</label>
                        {{ form.Comments}}
                      </div>
                      <br>
                      <input type="hidden" name="submitted" value="True">
                      <button type="submit" class="btn btn-secondary">Υποβολή</button>
                    </form>
                    {% endif %}
                  </div>
                </div>
            
  
{%endblock%}