{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacations Managment</title>
        <!--JQUERY-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!--FULLCALENDAR-->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/main.min.css" /> -->         
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.11/index.global.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/locales-all.min.js"></script>  -->
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

        <!--Custom CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main_home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/employee_navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/list-requests.css' %}">
        <!--IMAGES
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >-->

        <!-- DataTables -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap.min.js"></script>
       
    
        <!-- Bootstrap JS -->    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>


    
      



</head>
<body>


    <!-- User is not authenticated.-->
    {% include 'vacayvue/navbar.html' %}
        {% if request.user.is_authenticated %}
        <!-- User is authenticated.-->
            {% if request.user.user_type == 'employee' %}
                {% include 'vacayvue/employee_navbar.html' %}
             {% elif request.user.user_type == 'company' %}
                 {% include 'vacayvue/company_navbar.html' %}
             {% else %}
                 {% include 'vacayvue/navbar.html' %}
            {% endif %}             
        {% endif %}

         <br><br><br>
         <div class="container">
            <div class="row">
               
    
               {% block content %}
                {% endblock %}
                {%block calendar%}
                {%endblock calendar%}
            </div>
           </div>


    <footer>
        Copyright (c) {{current_year}}
    </footer>
    
    
<!-- Custom JavaScript -->
<script src="{% static 'js/datatable.js' %}"></script>
<script src="{% static 'js/activenav.js' %}"></script>

</body>
</html>