{% extends 'vacayvue/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}

    <h1>Λιστα με αιτήσεις</h1>

{% for request in all_requests%}
<br>
<div class="card">
    <div class="card-header">
      {{request.Status}}
    </div><br>
    <div class="card-body">
      <h5 class="card-title">Είδος άδειας: {{request.Type}}</h5>
      <p class="card-text"> 
        <ul>
            <li>Αρχή άδειας: {{request.StartDate}}/Λήξη άδειας: {{request.EndDate}}</li>
            <li>Σχόλια: {{request.Comments}}</li>
           <li>Υπάλληλος: {{request.EmployID.Firstname}} {{request.EmployID.Lastname}}</li>

                     
           
            </ul>
      </p>
    </div>
  </div>
  {% endfor %}

  {% else %}
  <h1>Πρέπει να είστε συνδεδεμένος για να δείτε αυτη την σελίδα..</h1>
   <a href="{% url 'login' %}">Συνδέσου εδώ</a>
   {% endif %}

{% endblock %}