{% extends 'vacayvue/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}

    <h1>Λιστα με υπαλλήλους</h1>

{% for request in all_requests%}
</br>
<div class="card">
    <div class="card-header">
        {{request.Username}} 
    </div></br>
    <div class="card-body">
      <h5 class="card-title">Ονοματεπώνυμο: {{request.Firstname}} {{request.Lastname}}</h5>
      <p class="card-text"> 
        <ul>
            <li>Ρόλος: {{request.Role}}</li>
            <li>Email:{{request.Email}} </li>
            <li>Εταιρία: {{request.CompanyID.Companyname}}</li>      
                     
           
            </ul>
      </p>
    </div>
  </div>
  {% endfor %}

  {% else %}
  <h1>Πρέπει να είστε συνδεδεμένος για να δείτε αυτη την σελίδα..</h1>
   <a href="{% url 'login' %}">Συνδέσου εδώ</a>
   {% endif %}

{% endblock %}