{% extends 'vacayvue/base.html' %}

{% block content %}

<div class="shadow p-4 mb-5 bg-body rounded">
  <h4 class="text-center">Φόρμα Προσθήκης Εργαζομένων</h4>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="{% url 'register_employee' %}" method="POST" class="custom-form-container">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_company">Company:</label>
          {{form.company }}
      </div>
        <div class="form-group">
          <label for="id_Email" class="custom-form-label">Email</label>
          {{ form.email }}
        </div>
        <div class="form-group">
          <label for="id_first_name" class="custom-form-label">Όνομα</label>
          {{ form.first_name }}
        </div>
        <div class="form-group">
          <label for="id_last_name" class="custom-form-label">Επίθετο</label>
          {{ form.last_name }}
        </div>
        <div class="form-group">
          <label for="id_datejoined" class="custom-form-label">Ημερομηνία Πρόσληψης</label>
          <div class="input-group">
            {{ form.join_date }}
           
          </div>
        </div>
        <div class="form-group">
          <label for="id_password1" class="custom-form-label">Κωδικός</label>
          {{ form.password1 }}
        </div>
        <div class="form-group">
          <label for="id_password2" class="custom-form-label">Επιβεβαίωση Κωδικού</label>
          {{ form.password2 }}
        </div>
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <p>Υπάρχει κάποιο σφάλμα με τη φόρμα σας</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <input type="submit" value="Εγγραφή" class="button">
      </form>
    </div>
  </div>

</div>

{% endblock %}