{% extends 'vacayvue/base.html' %}

{% block title %}Fullcalendar{% endblock title %}
{% block calendar %}
<div class="row">
  <div class="col-md-12">
    <div class="tile row">
      <!--REQUESTMODAL-->
      <div class="modal fade show" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h5 class="modal-title text-white" id="exampleModalLongTitle">Προσθήκη Αιτήματος</h5>
              <button class="close modalClose" data-target="#requestModal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post" >
              {% csrf_token %}
              <div class="modal-body">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Τύπος Άδειας:</label>
                  {{ form.type }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Έναρξης:</label>
                  {{ form.start }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Λήξης:</label>
                  {{ form.end }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Περιγραφή:</label>
                  {{ form.description }}
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger modalClose">Κλείσιμο</button>
                <button type="submit" class="btn btn-primary submitRequestForm">Υποβολή</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--DETAILMODAL-->
      <div class="modal fade show" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h5 class="modal-title text-white" id="title_request_detail">Πληροφορίες Αιτήματος</h5>
              <button class="close modalClose" data-target="#detailModal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post">
              {% csrf_token %}
              <div class="modal-body">
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Τύπος:</label>
                  <p id="type_request_detail"></p>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Περιγραφή:</label>
                  <p id="description_request_detail"></p>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Έναρξης:</label>
                  <p id="start_request_detail"></p>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Λήξης:</label>
                  <p id="end_request_detail"></p>
                </div>
              </div>
              <div class="modal-footer">
                <button id="delete-request-button" data-request-id="" class="btn btn-danger">Διαγραφή</button>
                <!--<button id="edit-request-button" data-edit-request-id="" class="btn btn-primary" >Επεξεργασία</button>-->
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--EDITMODAL-->
    <div class="modal fade show" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h5 class="modal-title text-white" id="editModalTitle">Επεξεργασία Αιτήματος</h5>
              <button class="close modalClose" data-target="#editModal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post">
              {% csrf_token %}
              <div class="modal-body">
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Τύπος Άδειας:</label>
                  {{ form.type }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Έναρξης:</label>
                  {{ form.start }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Λήξης:</label>
                  {{ form.end }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Περιγραφή:</label>
                  {{ form.description }}
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger modalClose">Κλείσιμο</button>
                <button type="submit" class="btn btn-primary">Αποθήκευση</button>
              </div>
            </form>
          </div>
        </div>
      </div>
	</div>
  </div>
</div>


<div class="col-md-4">  
    <div id="calendar"></div>
</div> 

<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Check if the cookie contains the name we're looking for
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


  document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('calendar')
    
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,list'
        },
        selectable: true,
        editable: true,
        slotDuration: '00:04:00',
        //weekend:false,
        // hiddenDays: [0, 6],
        events: "/vacayvue/all_requests/",
        select: function(info) {
            console.log("Selecting dates...");
            $('#requestModal').modal('show');
            $('#id_start').val(info.startStr);
            $('#id_end').val(info.endStr);
            //  $('#requestModal').modal('hide');
        },
        eventClick: function(info) {
            console.log("Clicked request:", info.event);
            var event = info.event;
            var modal = $('#detailModal');
            modal.find('#type_request_detail').text(event.extendedProps.type);
            modal.find('#start_request_detail').text(event.startStr);
            modal.find('#end_request_detail').text(event.endStr);
            modal.find('#description_request_detail').text(event.extendedProps.description || '');
            modal.find('#delete-request-button').attr('data-request-id', event.id);
            modal.modal('show');
            $('#requestModal').modal('hide');
        },
        eventDrop: function (info) {
          var start = info.event.startStr; 
          var end = info.event.endStr;
          var type = info.event.extendedProps.type;
          var id = info.event.id; 
          $.ajax({
              type: "GET",
              url:"/vacayvue/update/",
              data: {'type': type, 'start': start, 'end': end, 'id': id},
              dataType: "json",
              success: function (data) {
                  // Refresh the calendar events
                  calendar.getEventSources().forEach(function (source) {
                      source.refetch();
                  });
                  alert('Η ημερομηνία ανανεώθηκε');
              },
              error: function (xhr, status, error) {
                  console.error('Error:', error);
                  alert('Υπάρχει κάποιο λάθος με την ενημέρωση της ημερομηνίας');
              }
          });
      }  
      
      
      })
        calendar.render()

            // Event listeners using event delegation
    $(document).on('click', '.modalClose', handleCloseModal);
    $(document).on('submit', 'form', handleSubmitRequestForm);

    function handleCloseModal() {
        console.log("Closing modal...");
        $(this).closest('.modal').modal('hide');
    }

    function handleSubmitRequestForm() {
    console.log("Submitting request form...");

    var form = $(this).closest('form'); // Get the form element
    var formData = form.serialize(); // Serialize the form data

    // Debugging: Log the serialized form data
    console.log("Form data:", formData);

    $.ajax({
        url: "/vacayvue/add_request/",
        type: 'POST',
        data: formData,
        headers: {
        'X-CSRFToken': getCookie('csrftoken') // Fetch the CSRF token from cookies
    },
        dataType: 'json',
        success: function (response) {
            console.log("Form submission response:", response);
            if (response.success) {
                $('#requestModal').modal('hide');
                window.location.reload();
            } else {
                console.log(response.errors);
            }
        },
        error: function (xhr, status, error) {
            console.error("Error submitting form:", xhr.responseText);
            if (xhr.status === 404) {
                alert('The request does not exist.');
            } else {
                alert('There was an error processing your request.');
            }
        }
    });
}
// Attach event listener to form submit event
$(document).on('submit', 'form', handleSubmitRequestForm);

    document.getElementById('delete-request-button').addEventListener('click', function() {
        const requestId = this.getAttribute('data-request-id');
        console.log("Request ID:", requestId);
        if (confirm('Are you sure you want to delete this event?')) {
            $.ajax({
                url: `/vacayvue/delete_request/${requestId}/`,//For dynamic urls
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response) {
                    alert(response.message);
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    alert('Error!');
                }
            
            })
        }
    })

  
  
      
  }) 
  
  



</script>


  

{% endblock calendar %}