/* Styles for the calendar container */
#calendar {
  width: 600px;/* Adjust to fit within the container */
  margin: 20px auto; /* Add margin to center and provide space from top */
  padding: 20px; /* Add padding for spacing inside the container */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative; /* Ensure relative positioning */
  z-index: 1; /* Ensure the calendar stays above the footer */
  height: 600px; 
  overflow: auto; /* Add scrollbars if necessary */
  margin-left:20%;
}

/* Styles for the header */
  .fc-header-toolbar {
    margin-bottom: 20px;
  }
  
  /* Styles for the event titles */
  .fc-event-title {
    font-weight: bold;
  }
  
  /* Styles for the event blocks */
  .fc-event {
    margin-bottom: 10px;
  }
  
  /* Styles for the event information popover */
  .popover {
    max-width: 300px;
  }
  
  /* Styles for the event information popover title */
  .popover-title {
    font-weight: bold;
  }
  
  /* Styles for the event information popover body */
  .popover-content {
    font-size: 14px;
  }
  