/* styles.css */

/* Main section styles */
main {
    background-color: #f9faf8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

/* Hero section styles */
.hero {
    margin-bottom: 30px;
    text-align: center;
}

.hero h2 {
    color: black;
}

.hero p {
    color: #555;
}

/* Features section styles */
.features {
    margin-bottom: 30px;
}

.features h2 {
    color: black;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    color: #555;
    margin-bottom: 10px;
}

/* Get Started section styles */
.get-started {
    text-align: center;
}

.get-started h2 {
    color: black;
}

.get-started p {
    color: #555;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    background-color: #3d3a50 ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: #aab9bd; 
}