.tile {
    margin-bottom: 20px;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top:100px;
}

.table th,
.table td {
    padding: 8px;
    vertical-align: top;
    position: relative;
}

.table th {
    background-color: #804f22;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* Remove the underline */
.table th {
    text-decoration: none;
}

/* Add arrow indicator */
.table th[data-sort]::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

/* Add arrow indicator pointing upwards */
.table th[data-sort="asc"]::after {
    border-bottom: 4px solid #000;
}

/* Add arrow indicator pointing downwards */
.table th[data-sort="desc"]::after {
    border-top: 4px solid #000;
}

.table tbody tr:nth-child(even) {
    background-color: #c4a809;
}

.table tbody tr:hover {
    background-color: #db955cb9;
}

/* Breadcrumb styles */
.app-breadcrumb {
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}

.app-breadcrumb li {
    display: inline-block;
    margin-right: 5px;
}

.app-breadcrumb li:last-child {
    font-weight: bold;
    color: #B31E00;
}

.app-breadcrumb li:last-child:before {
    content: '\00BB';
    margin-right: 5px;
}

/* Responsive styles */
@media (max-width: 767.98px) {
    .table th, .table td {
        font-size: 12px;
    }
}