.shadow {
    margin: 0 ;
    max-width: 600px; /* Adjust as needed */
}
.form-container {
    width:500px;
    border: 1px solid #ccc;
    background-color: #f9faf8;
    border-radius: 5px;
  
  }
/* Style the form inputs */
.form-control {
    width: 100%; /* Ensure inputs take full width */
    background-color: rgba(255, 255, 255, 0.993);
    color: black;
    border: 1px solid black; /* Add border */
    margin-bottom: 10px; /* Add spacing between inputs */
}



/* Styles for date fields */
.row .col input[type="date"] {
    width: 100%;
  }

/* Style the form labels */
.form-label {
    margin-bottom: 5px; /* Add spacing between labels and inputs */
}

/* Style the form submit button */
.btn-primary {
    background-color: #3d3a50; /* Different shade  */
    color: #fff ;
    border-color: #48445f; /* Different shade */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Hover effect on the submit button */
.btn-primary:hover {
    background-color: #48445f;
    color:#fff;
    
}

/* Style the alert message */
.alert {
    background-color: #c59805; /* Yellow background color */
    color: black; /* Black text color */
    border-color: black; /* Black border color */
    width: 100%; /* Ensure alert takes full width */
    margin-bottom: 10px; /* Add spacing between alerts and form */
}

/* Close button in the alert message */
.btn-close {
    color: black; /* Black close button color */
}