
/* Navbar custom styles */
.navbar {
  background-color: #614add; /* Main background color */
  padding: 20px 40px; /* Adjust padding as needed */
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white !important; /* Text color */
  font-size: 18px; /* Adjust font size as needed */
}

.navbar-toggler-icon {
  background-color: white; /* Toggler icon color */
}

.dropdown-menu {
  background-color: #614add; /* Dropdown menu background color */
}

.dropdown-item {
  color: white !important; /* Dropdown item text color */
}

.navbar-toggler {
  border-color: white; /* Toggler border color */
}

.navbar-toggler:hover {
  border-color: white; /* Toggler border color on hover */
}


.btn-outline-success {
  color: white; /* Search button text color */
  border-color: white; /* Search button border color */
}

.btn-outline-success:hover {
  background-color: white; /* Search button background color on hover */
  color: black; /* Search button text color on hover */
}
