/* Styles for modal container */
.modal-content {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Styles for modal title */
  .modal-title {
    font-weight: bold;
  }
  
  /* Styles for form fields */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Styles for date fields */
  #is_start input[type="date"],
  #id_end input[type="date"] {
    width: 100%;
  }
  
  /* Additional styles for success alert */
  .alert-success {
    margin-top: 20px;
  }
  
  /* Additional styles for comments textarea */
  #id_comments {
    height: 150px; /* Adjust height as needed */
    resize: vertical; /* Allow vertical resizing */
  }